@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h3>
    A school record can refer to different education-related things, including an official record of a student's grades, conduct and disciplinary history or a more general reference to a student's academic performance and extracurricular participation while in school.

</h3>

<h3>
    It records the daily attendance of the teachers in a school showing the time of arrival and the time of departure of the teacher each day. It should be regularly filled in and signed by all. teachers, morning and afternoon, every day.
</h3>
<h3>
    School records include books, documents, diskettes and files that contain information on what goes on in school as well as other relevant information pertaining to the growth and development of the school.
</h3>